.headercontainer{
	margin: 0px;
	padding: 0px;
	height: 100px;
	
	background-color:black;
	display: flex;
}

}
.logo{
padding-left: 50px;
}
.particles{
	background-color: black;
	height: 100px;
	width: 800px;
	}

hr.hr1{
	background-color: red;
	height:15px;
	margin: 0px;
	animation: load 1s linear infinite;
	
}
@keyframes load{
	0%{background-image: linear-gradient(90deg,#98FB98,#00FA9A)}
	10%{background-image: linear-gradient(90deg,#00FA9A,#00FF7F)}
	20%{background-image: linear-gradient(90deg,#00FF7F,#ADFF2F)}
	30%{background-image: linear-gradient(90deg,#ADFF2F,#00FF7F)}
	40%{background-image: linear-gradient(90deg,#00FF7F,#7CFC00)}
	50%{background-image: linear-gradient(90deg,#7CFC00,#00FF00)}
	60%{background-image: linear-gradient(90deg,#00FF7F,#7CFC00)}
	70%{background-image: linear-gradient(90deg,#ADFF2F,#00FF7F)}
	80%{background-image: linear-gradient(90deg,#00FF7F,#ADFF2F)}
	90%{background-image: linear-gradient(90deg,#00FA9A,#00FF7F)}
	100%{background-image: linear-gradient(90deg,#98FB98,#00FA9A)}


}
.nav {

	height: 100px;
	margin: 0px;
	display:flex;
	
}
a{
	text-decoration: none;
	font-family: helvetica;
}
.nav0,.nav1,.nav2,.nav3,.nav4,.nav5,.nav6{
padding: 10px;

margin:20px;
font-size:15px; 
}
.a0 i {
	color: red;

}
.a0 span{
	opacity: 0;
	color: red;
}
.a1 i{
	color: #6AFF09;
}
.a1 span{
	opacity: 0;
	color: #6AFF09;
}

.a2 i{
	color: blue;
}
.a2 span{
	opacity: 0;
	color: blue;
}
}
.a3 i{
	color: orange;
}
.a3 span{
	opacity: 0;
	color: orange;
}
.a4 i{
	color: #FF00E2;
}
.a4 span{
	opacity: 0;
	color: #FF00E2;
}
.a5 i{
	color: yellow;
}
.a5 span{
	opacity: 0;
	color: yellow;
}
.a6 i{
	color: pink;
}
.a6 span{
	opacity: 0;
	color: pink;
}



.nav0:hover,.nav1:hover,.nav2:hover,.nav3:hover,.nav4:hover,.nav5:hover,.nav6:hover{
	transform: translateY(-10px);
}
.nav0 .a0 span:hover,.nav1 .a1 span:hover,.nav2 .a2 span:hover,.nav3 .a3 span:hover,.nav4 .a4 span:hover,.nav5 .a5 span:hover,.nav6 .a6 span:hover{
	opacity: 1;
	
}
.themegreen{
	z-index: -9;
	background-color: #2F4F4F;
	margin: 0px;
	padding: 0px;
	padding-bottom: 10px;
	justify-content: center;
}

.heading{

	color: #7CFC00;
	font-family: century gothic;
	text-align: center;
	size: 40px;
	text-shadow: 2px 2px 4px black;
	padding-top: 10px;
	padding-bottom: 100px;
	 
}
.textbox{
	
	padding-right: 250px;
	padding-left: 250px;
}
.txt1,.txt2,.txt3,.txt4,.txt5,.txt6{
	color: white;
	justify-content: center;
	margin-top: 40px;
	padding: 20px;
	margin-bottom: 40px;
}
.txt1:hover,.txt2:hover,.txt3:hover,.txt4:hover,.txt5:hover,.txt6:hover{
	background-color: #98FB98;
	color: #556B2F;
	border-radius: 30px;
	transform: scale(1.05);
	transition-duration: 1s;
	box-shadow: 4px 4px 8px black;

}
.img1{
	background-color: white;
	transform: rotate(-28deg);
	padding: 16px;
	width: 300px;
	box-shadow: 8px 8px 16px black;
	margin-left: 400px;
	margin-top: 100px;
	margin-bottom: 100px;
	padding-bottom: 80px;
}
.img2{
	background-color: white;
	transform: rotate(15deg);
	padding: 16px;
	width: 300px;
	box-shadow: 8px 8px 16px black;
	margin-left: 400px;
	margin-top: 100px;
	margin-bottom: 100px;
	padding-bottom: 80px;
}


}
.img1 img,.img2 img{
	margin-right: 16px;
}
.footer{
	height: 200px;
	background-color: black;
	display: flex;
}
.footer img{
	
	height: 200px;
	padding-left: 500px;

}
.follow{
	font-size: 20px;
	color:white;
	margin: 10px;
	
}

.feedback{
	font-size: 20px;
	color:white;
	margin: 10px;
	padding-left:500px;
	
}
.copyright{
	padding-top: 10px;
	background-color: black;
	margin: 0px;
	text-align: center;
	color: white;
}

