@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
*, *::before, *::after {
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;  font-weight: normal;
}

body {
  padding: 0;
  margin: 0;
  background: rgb(36, 36, 36);
}

.calculator-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
  
}

.calculator-grid > button {
  cursor: pointer;
  font-size: 2rem;
  border: 3px solid rgb(0, 0, 0);
  outline: none;
  background-color: rgb(255, 255, 255);
  border-radius: 50px;
}

.calculator-grid > button:hover {
  background-color: rgba(255, 255, 255, .9);
}

.span-two {
  grid-column: span 2;
}

.output {
  grid-column: 1 / -1;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 25px;
  word-wrap: break-word;
  word-break: break-all;
  border-radius: 50px;
  border: 3px solid rgb(0, 0, 0);

}

.output .previous-operand {
  color: rgba(0, 0, 0, 0.75);
  font-size: 1rem;
}

.output .current-operand {
  color: rgb(0, 0, 0);
  font-size: 2.5rem;
}