body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #474787;
    background-color: #303952;
}

.container {
    max-width: 400px;
    background-color: #f7f1e3;
    border-radius: 10px;
    padding: 40px;
    margin: 40px auto;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.header {
    font-size: 24px;
    margin-bottom: 40px;
}

input {
    width: calc(100% - 40px);
    padding: 20px;
    border: 2px solid #2c2c54;
    border-radius: 10px;
    font-size: 30px;
    background-color: transparent;
    color: inherit;
}

/* Remove arrow in input type number */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}