body {
              font-family: Arial, Helvetica, sans-serif;
            }
            
            .flip-card {
              margin-left: 30px;            
              background-color: transparent;
              width: 350px;
              height: 300px;
              perspective: 1000px;
            }
            
            .flip-card-inner {
              margin-left: 30px;
              position: relative;
              width: 100%;
              height: 100%;
              text-align: center;
              transition: transform 0.6s;
              transform-style: preserve-3d;
              box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            }
            
            .flip-card:hover .flip-card-inner {
              transform: rotateY(180deg);
            }
            
            .flip-card-front, .flip-card-back {
                          
              position: absolute;
              width: 100%;
              height: 100%;
              -webkit-backface-visibility: hidden;
              backface-visibility: hidden;
            }
            
            .flip-card-front {
              background-color: rgb(255, 255, 255);
              color: black;
            }
            
            .flip-card-back {
              background-color: #d597ff63;
              color: rgb(0, 0, 0);
              transform: rotateY(180deg);
            }